@model Sistemas_de_Vendas.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Produto</h1>

<h3>Você tem certeza que quer deletar esse produto?</h3>
<div>

    <hr />
    <dl class="">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Deletar" class="btn btn-danger  mt-2" />
        <a asp-action="Index" class="btn btn-light mt-2">Voltar a Lista</a>
    </form>
</div>
